@import "nullstyle";


$grey: #27300f;
$orange: #d26a22;
$white: #ffffff;
$alpha: 0.4;
$orangeHover: #bf601f;


body {
	font-family: 'Jost', sans-serif;
	color: $grey;
	overflow-x: hidden;
}

.wrapper {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 15px;
}

.title {
	font-family: 'Cormorant', serif;
	font-size: 5rem;
	span {
		font-style: italic;
	}
}

.btn {
	color: $white;
	background-color: $orange;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.3rem 2.68rem;
	border-radius: 2rem;
	letter-spacing: 0.075rem;
	box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
	transition: all .3s;
	&:hover{
		background-color: $orangeHover;
	}
}

.header {
	max-width: 1440px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 15px 46px;
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__tel {
		text-decoration: none;
		color: $grey;
		transition: all .2s;
		font-weight: 500;
		letter-spacing: 0.075rem;
		&:hover {
			color: $orange;
		}
	}
}

.logo {
	width: 120px;
	height: 32px;
	margin-right: 120px;
}

.nav {
	list-style-type: none;
	display: flex;
	&-item {
		margin-right: 48px;
	}
	&-link {
		text-decoration: none;
		color: $grey;
		transition: all .2s;
		&:hover {
			color: $orange;
		}
	}
}

.header-cart {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	margin-left: 80px;
	&__button {
		width: 2.5rem;
		height: 2.5rem;
		background-color: $orange;
		border-radius: 50%;
		background-image: url("../img/cart.png");
		background-size: 1rem 0.87rem;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__count {
		position: absolute;
		top: 6px;
		right: 9px;
		font-size: 0.5rem;
		color: $white;
	}
}

.section-main {
	background: url("../img/bg_1.png") center center/cover no-repeat;
	padding-bottom: 208px;
	position: relative;
	&__image {
		position: absolute;
	}
	&__tomato {
		right: 59px;
		bottom: 140px;
	}
	&__cucumber {
		top: -4px;
		left: 40%;
	}
	&__avocado {
		top: 45px;
		right: 0px;
	}
	&__pepper {
		top: 40%;
		left: 0px;
	}
	&__beans {
		bottom: 175px;
		left: 0px;
	}
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-text {
		flex: 0 0 40%;
		&__descr {
			font-size: 1.12rem;
			line-height: 1.51;
			margin-top: 3.75rem;
			margin-bottom: 4.8rem;
		}
	}
	&-visual {
		border: 1px solid rgba($grey, $alpha);
		border-radius: 50%;
		padding: 53px;
		position: relative;
		&__image {
			border-radius: 50%;
			border: 1px solid rgba($grey, $alpha);
			padding: 21px;
			img {
				box-shadow: 15px 48px 42px 0px rgba(39,48,15,0.35);
				border-radius: 50%;
			}
		}
		&__btn {
			background-color: transparent;
			border: none;
			color: rgba($grey, 0.8);
			font-size: 1rem;
			position: absolute;
			text-align: left;
			span {
				color: rgba($grey, 1);
				display: block;
				text-align: left;
			}
			&::before{
				content:'';
				display: block;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background-color: $grey;
				box-shadow: 0 0 0 4px #fff, 0 0 0 5px $grey;
				position: absolute;
			}
			&:focus {
				&:before {
					background-color: $orange;
					box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;
				}
			}
		}
		&__01 {
			left: 64px;
			top: 41px;
			&:before{
				content:'';
				left: 86px;
				top: 25px;
			}
		}
		&__02 {
			right: 2px;
			top: 189px;
			&:before{
				content:'';
				right: 87px;
				top: 20px;
			}
		}&__03 {
			right: 242px;
			bottom: -51px;
			&:before{
				content:'';
				right: 32px;
				top: -20px;
			}
		}
	}
}

.ml {
	margin-left: 7.6rem;
}

.section-stock {
	background: url('../img/bg_2.png') center center/cover no-repeat;
	padding-bottom: 100px;
	&__text {
		font-size: 1.5rem;
		max-width: 690px;
		line-height: 1.5;
		margin-top: 3.75rem;
	}
}

.slider {
	margin-top: 95px;
	&-child {
		padding: 2px 9px;
	}
	&-item {
		min-height: 520px;
		border: 1px solid rgba($grey, $alpha);
		box-shadow: 0 0 0 1px rgba($grey,0);
		border-radius: 20px;
		background: center center/cover no-repeat;
		position: relative;
		padding: 2.75rem 2.25rem;
		transition: all .3s;
		overflow: hidden;
		&:before{
			content: '';
			transition: all .3s;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			border-radius: 20px;
		}
		&:hover{
			box-shadow: 0 0 0 3px rgba($grey, $alpha);
			&:before{
				background-color: rgba(255,255,255,.55);
			}
			.slider-text {
				transform: translateY(0);
			}
		}
	}
	&-milk {
		background-image: url("../img/stock/milk.png");
	}
	&-pasta {
		background-image: url("../img/stock/pasta.png");
	}
	&-steaks {
		background-image: url("../img/stock/steaks.png");
	}
	&-text {
		position: absolute;
		bottom: 2.75rem;
		left: 2.25rem;
		max-width: 58%;
		transition: all .3s;
		transform: translateY(265px);
		&__title {
			font-size: 1.875rem;
			font-family: 'Cormorant', sans-serif;
			margin-bottom: 26px;
		}
		&__description {
			color: rgba($grey, .7);
			line-height: 1.5;
			margin-bottom: 41px;
		}
		&__link {
			color: $grey;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 500;
			letter-spacing: 0.075rem;
			opacity: 0.8;
			padding-left: 50px;
			position: relative;
			transition: all .3s;
			&:before{
				content:'';
				position: absolute;
				top: calc(50% - 0.93rem);
				left: 0;
				display: block;
				width: 1.875rem;
				height: 1.875rem;
				background-image: url('../img/icons/plus.svg');
			}
			&:hover{
				opacity: 1;
				padding-left: 45px;
			}
		}
	}
}

.slick-arrow {
	position: absolute;
	background-color: transparent;
	border: none;
	top: -63px;
	text-indent: -9999px;
	width: 10px;
	height: 18px;
	opacity: 0.4;
	transition: all .2s;
	&:hover{
		opacity: 1;
	}
}

.slick-next {
	right: 10px;
	background: url('../img/icons/arrow-next.svg');
}
.slick-prev {
	right: 80px;
	background: url('../img/icons/arrow-prev.svg');
}